body {
	line-height: 1.3em;
	background: #0C1010;
	color: #008000;
	font-family: "Consolas", "Source Code Pro", "Andale Mono", "Monaco", "Lucida Console", monospace;
}

h1 {
	min-width: 500px;
	white-space: nowrap;
}

a {
	color: #68A4DE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#today {
	width: 33%;
	display: inline-block;
	margin: auto;
	text-align: center;
}

#prev_date {
	width: 33%;
	display: inline-block;
	float: left;
	text-align: left;
}

#next_date {
	width: 33%;
	display: inline-block;
	float: right;
	text-align: right;
}

.row {
	white-space: nowrap;
	clear: left;
}

.row:nth-child(odd) {
	background: #0F1215;
}

.datestring {
	vertical-align: top;
	min-width: 280px;
	width: 280px;
	float: left;
}

.nick {
	color: #DC143C;
	text-align: right;
	vertical-align: top;
	min-width: 160px;
	width: 160px;
	padding-right: 10px;
	float: left;
}

.msg {
	vertical-align: top;
	margin-left: 450px;
	color: #FFFFFF;
	white-space: pre;
}

.event {
	vertical-align: top;
	margin-left: 280px;
	color: #BDB76B;
}
